#modal{
  background-color: #77778888;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  display: none;
}

.alert{
  background-color: var(--secondColor);
  padding: 3em;
  border-radius: 1.25em;
  align-items :center;
  width: 44%;
  height: 44%;
  margin: 10% auto;
}


#addTaskDiv{
  display: none;
}

.inp{
  background-color: transparent;
  border-style: none;
  outline: none;
  margin: 1.25em 0;
}
.inp::placeholder{
  color: var(--mainColor);
  opacity: 66%;
}
.inp--title{
  font-size: 1.5em;
  border-bottom: 4px solid var(--mainColor);
  font-weight: 500;
  width: 80%;
}
.inp--description{
  font-size: 1.2em;
  border-bottom: 2px solid var(--mainColor);
  width: 80%;
  font-weight: 300;
}
.divRadio{
  display: flex;
  width: 60%;
}
.inp--radio{ visibility: hidden; }
label {
  padding: 0.4em 0.6em;
  font-size: 0.8em;
  opacity: 45%;
  color: var(--mainColor);
  flex: 1;
}
.inp--radio:checked + label {opacity: 100%;}


.btn{
  padding: 0.6em 0.8em;
  border-radius: 1.5em;
  font-family: "Lexend", sans-serif;
}
.btn--confirm{
  background-color: var(--mainColor);
  color: var(--secondColor);
  border: 2px solid var(--mainColor);
}
.btn--confirm:hover{ border: 2px solid var(--secondColor); }
.btn--cancel{
  background-color: var(--secondColor);
  color: var(--mainColor);
  border: 2px solid var(--secondColor);
}
.btn--cancel:hover{ border: 2px solid var(--mainColor); }

.btn--back{
  background-color: var(--mainColor);
  color: var(--secondColor);
  border: 2px solid var(--mainColor);
}
.btn--back:hover{ border: 2px solid var(--secondColor); }