@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap");

:root {
  --mainColor: #333366;
  --secondColor: #ccccff;
  --highPriority: #882244;
  --mediumPriority: #224488;
  --lowPriority: #228844;
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
}

/* Style for header */
header {
  background-color: var(--mainColor);
  color: var(--secondColor);

  width: 100%;
  
  position: sticky;
  top: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-weight: 500;
}
h1 {
  font-size: 1.6em;
  padding: 12px 24px;
}
#addTaskButton{
  margin: 24px;
  padding: 0.4em 0.8em;

  border-radius: 1.5em;
  border-style: none;
  background-color: var(--secondColor);
  color: var(--mainColor);
  
  font-weight: 500;
  font-size: 1.3em;
}
#addTaskButton:hover {
  padding: calc(0.4em - 2px) 0.8em;

  border-radius: 1.5em;
  border: 2px solid var(--secondColor);
  background-color: transparent;
  color: var(--secondColor);
  transition-duration: 200ms;
}

/* Style for navmenu */
#navMenuDiv{
  box-shadow: 0 0 12px saddlebrown;
}
ul{
  background-color: var(--secondColor);
  width: 24%;
  position: fixed;
  bottom: 4em;
  right: 38%;
  list-style: none;
  display: flex;
  padding: 4px;
  border-radius: 1.5em;
  box-shadow: 0px -10px 12px #ccccff;
}
li{
  padding: 12px 12px;
  color: var(--mainColor);
  font-weight: 500;
  border-radius: 1.5em;
  flex: 1;
  text-align: center;
}

/* Style for list */
#taskList{
  background-color: #f0f0ff;
  padding: 3%;
  width: 94%;
  height: 100%;
  margin: 0;
}

.task{
  background-color: #ccccff;
  width: 88%;
  height: 10%;
  border-radius: 1.25em;
  margin: 6%;
  padding: 0.4em;
  display: flex;
  text-align: start;
}

.task>div{ 
  flex: 1;
  text-align: center;
}
.btn--completed{
  background-color: var(--mainColor);
  color: var(--secondColor);
  border: 2px solid var(--mainColor);
  margin: 0.3em;
}
.btn--completed:hover{ border: 2px solid var(--secondColor); }
.btn--delete{
  background-color: var(--secondColor);
  color: var(--mainColor);
  border: 2px solid var(--secondColor);
  margin: 0.3em;
}
.btn--delete:hover{ border: 2px solid var(--mainColor); }

.task>h2{ 
  flex: 3;
  margin: auto 0 auto 0.75em;
  overflow: none;
}
.task>p{ 
  flex: 6;
  margin: auto 0 auto 0.75em;
}
.task--low{
  box-shadow: -12px 0px 8px -8px var(--lowPriority);
}
.task--medium{
  box-shadow: -12px 0px 8px -8px var(--mediumPriority);
}
.task--high{
  box-shadow: -12px 0px 8px -8px var(--highPriority);
}
.task--completed>h2,.task--completed>p{
  opacity: 33%;
}